@{
    ViewData["Title"] = "@ViewBag.PageTitle";
}
<h2 class="my-3">@ViewBag.PageHeading</h2>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Created Date</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @ViewBag.Requests)
        {
            string reqStatus = "NA";
            if (item.Status != null)
            {
                reqStatus = item.Status.Status;
            }
            <tr>
                <td>@item.CreatedDateTime.ToString("yyyy-MM-dd")</td>
                <td>@item.Title</td>
                <td>@string.Concat(@item.Description.Substring(0, 20), ".... ") </td>
                <td>@reqStatus</td>               
                <td>
                    <a asp-action="EditTicket" asp-route-id="@item.TicketId" class="btn btn-outline-primary btn-sm" style="height:30px"> <i class="bi bi-eye-fill"></i> Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="text-end">
    <a asp-controller="Home" asp-action="Index" class="btn btn-success mr-2 mt-2" style="width:7rem">Home</a>
</div>
